{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="d-inline-flex flex-column align-items-center rounded-4 bg-light p-5 mb-5 bg-white rounded">
        <h1>Create Task</h1>

        <form method="POST" action="" class="d-flex flex-column">
            {% csrf_token %}
            <div class="d-flex flex-column mb-2">
                <label for="create-task" class="form-label">Title</label>
                <input class="form-control" type="text" name="title" placeholder="Enter your title here..">
            </div>
            <div class="d-flex flex-column mb-2">
                <label for="create-task" class="form-label">Description</label>
                <textarea class="form-control" name="description" placeholder="Enter your description here.."
                    rows=4></textarea>
            </div>
            <div class="d-flex flex-column mb-2">
                <input type="submit" value="Create task!">
            </div>
        </form>

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
</div>

{% endblock content %}