{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}
<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center rounded-4 bg-light p-5 mb-5 bg-white rounded">
        <h1>Register</h1>

        <form method="POST" class="d-flex flex-column">
            {% csrf_token %}
            <div class="d-flex flex-column mb-2">
                {{ form.as_table }}
            </div>
            <div class="d-flex flex-column mb-2">
                <input class="btn btn-primary btn-block mb-4" type="submit" value="Register">
            </div>
            <div class="d-flex flex-column mb-2">
                <span class="text-primary">
                    <p class="text-center">Already registered? <a href="{% url 'todolist:login' %}"
                            class="btn btn-danger btn-xs" type="submit" value="Login">Login here</a></p>
                </span>
            </div>
        </form>
        {% if messages %}
        {% for message in messages %}
        <span class="text-danger">{{ message }}</span>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}