{% extends 'base.html' %}

{% block meta %}
<title>Todo List</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Hello, {{ nama }}</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'todolist:create_task' %}" class="nav-item nav-link active">Create Task</a>
                <a href="{% url 'todolist:logout' %}" class="nav-item nav-link">Logout</a>
            </div>
            <div class="navbar-nav ms-auto">

            </div>
        </div>
    </div>
</nav>

<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center rounded-4 bg-light p-5 mb-5 bg-white rounded">


        <div class='row card-group'>
            {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
            {% for task in tasks %}

            <div class="col-4">
                <div class="card h-100 ">
                    <div class="card-body">
                        <h3 class="card-title">{{ task.title }}</h3>
                        <p class="font-weight-bold blue-text">
                            {{ task.description }}
                        </p>
                        <h6 class="card-text">
                            <strong>
                                {% if task.is_finished %}
                                <small><span class="text-success">Done</span></small>
                                {% else %}
                                <small><span class="text-danger">In-progress</span></small>
                                {% endif %}
                            </strong>
                        </h6>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Added: {{ task.date }} </small><a
                            href="{% url 'todolist:update_task' task.id %}" class="btn btn-primary">Update Task</a>
                        <a href="{% url 'todolist:hapus_task' task.id %}" class="btn btn-danger">Delete Task</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}