{% extends 'base.html' %}

{% block content %}

<h1 class="title">Assignment 3 - Platform-based Programming</h1>
<div class="identity">
  <h5>Name: </h5>
  <p>Mohamad Arvin Fadriansyah</p>
  <h5>Student ID: </h5>
  <p>2006596996</p>
</div>

</br>


<table>
  <tr>
    <th>
      <p>Watched</p>
    </th>
    <th>
      <p>Title</p>
    </th>
    <th>
      <p>Rating</p>
    </th>
    <th>
      <p>Release date</p>
    </th>
    <th>
      <p>Review</p>
    </th>
  </tr>
  {% comment %} Add the data below this line {% endcomment %}
  {% for film in list_film %}
  <tr>
    <th>
      <p>{{film.film_watched}}</p>
    </th>
    <th>
      <p>{{film.film_title}}</p>
    </th>
    <th>
      <p>{{film.film_rating}}</p>
    </th>
    <th>
      <p>{{film.film_release_date}}</p>
    </th>
    <th>
      <p>{{film.film_review}}</p>
    </th>
  </tr>
  {% endfor %}
</table>

<h2>Pesan: </h2>
<p>{{pesan}}</p>

{% endblock content %}